@import url('https://fonts.googleapis.com/css?family=Lato');

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 2vh;
  font-family: 'Lato';
}

.nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4vh;
}

.nav a{
  text-decoration: none;
  color: black;
}

.body{
  margin: 2vh;
}

.footer{
  margin: 1vh;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

img {
  width: 120px;
}

.BeerDeets {
  margin: 2vh;
}

.result {
  padding-top: 2vh;
}

.button{
  border: none;
  background-color: white;
  font-size: 14px;
  outline: none;
}

input{
   border: none;
   background-color: white;
  font-size: 14px;
  outline: none;
}

.searchbar{
  border-bottom: 1px solid black;
}

.search {
  height: 100vh;
}

p a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.images{
  height: 100vh;
}
